<% function menu(name) { %>
<li class="menu-363">
    <% if(name === "Home") { %>
    <a href="<%- config.root %>" class="<% if(url_for(config.root) == url_for(page.path).replace("//","/")) { %>
            active-trail active
            <% } %>
            ">Home</a>
    <% } else { %>
    <a href="<%- config.root + name.toLowerCase() %>" class="
            <% if(is_current(name.toLowerCase())) { %>
            <!--active-trail active-->
            <% } %>
"><%- name %></a>
    <% } %>
</li>
<% } %>

<header id="section-header" class="section section-header">
    <div class="header-wrapper no-userinfo" style=" ">
        <div class="top-fill">
            <div class="wrap">
                <div class="fill"></div>
            </div>
        </div>
        <nav class="top-nav">
            <div class="wrap">
                <div class="shard"></div>
                <div class="logo">
                    <a href="<%- config.root %>"></a>
                </div>
                <ul class="main-menu">
                    <% menu("Home") %>
                    <% menu("Archives") %>
                </ul>
                <div id="sub-nav-hexo">
                    <% if (theme.rss){ %>
                    <a id="nav-rss-link" class="nav-icon" href="<%- config.root + theme.rss %>" title="RSS Feed"></a>
                    <% } %>
                    <a id="nav-search-btn" class="nav-icon" title="Search"></a>

                    <div id="search-form-wrap">
                        <%- search_form({button: '&#xF002;'}) %>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="sub-nav">
            <div class="wrap">
                <div class="sub-fill"></div>
                <ul class="secondary-menu">
                    <li class="menu-383 first">
                        <a href="<%- config.root %>" title="">Test</a>
                    </li>
                </ul>
                <script> var submore = 'More'; </script>
            </div>
        </nav>
    </div>
</header>
<header class="m-header clear">
    <div class="m-logo"><a href="/"></a></div>
    <div id="m-sub-nav-hexo">
        <% if (theme.rss){ %>
        <a id="nav-rss-link" class="nav-icon" href="<%- config.root + theme.rss %>" title="RSS Feed"></a>
        <% } %>
        <a id="m-nav-search-btn" class="nav-icon" title="Search"></a>

        <div id="m-search-form-wrap">
            <%- search_form({button: '&#xF002;'}) %>
        </div>

</header>