<header id="section-header" class="section section-header">
  <div class="header-wrapper no-userinfo" style=" ">
    <div class="top-fill">
      <div class="wrap">
        <div class="fill"></div>
      </div>
    </div>
    <nav class="top-nav">
      <div class="wrap">
        <div class="shard"></div>
        <div class="logo">
          <a href="<%- config.root %>"></a>
        </div>
        <ul class="main-menu">
          <li class="menu-357 first">
            <a href="<%- config.root %>" title="" >Home</a>
          </li>
          <li class="menu-363">
            <a href="<%- config.root %>" class="active-trail active">Home</a>
          </li>
          <li class="menu-363">
            <a href="<%- config.root %>archives">Archives</a>
          </li>
        </ul>
        <div id="sub-nav-hexo">
           <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="RSS Feed"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="Search"></a>
        <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
      </div>
        </div>
      </div>
    </nav>
    <nav class="sub-nav">
      <div class="wrap">
        <div class="sub-fill"></div>
        <ul class="secondary-menu">
          <li class="menu-383 first">
            <a href="/" title="">Test</a>
          </li>
          <!-- <li class="menu-384">
            <a href="http://answers.unity3d.com/" title="">Answers</a>
          </li>
          <li class="menu-385">
            <a href="http://feedback.unity3d.com/" title="">Feedback</a>
          </li>
          <li class="menu-767">
            <a href="http://issuetracker.unity3d.com/" title="">Issue Tracker</a>
          </li>
          <li class="menu-933">
            <a href="http://blogs.unity3d.com/" title="">Blog</a>
          </li>
          <li class="menu-764">
            <a href="http://evangelists.unity3d.com/" title="">Evangelists</a>
          </li>
          <li class="menu-860 last">
            <a href="/community/user-groups" title="">User Groups</a>
          </li> -->
        </ul>
        <script> var submore = 'More'; </script>
      </div>
    </nav>
  </div>
</header>
<header class="m-header clear">
  <div class="m-logo"><a href="/"></a></div>
  <div id="m-sub-nav-hexo">
           <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="RSS Feed"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="Search"></a>
        <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
  </div>

</header>
<!-- 
<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"></a>
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <nav id="sub-nav">
        <% if (theme.rss){ %>
          <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="RSS Feed"></a>
        <% } %>
        <a id="nav-search-btn" class="nav-icon" title="Search"></a>
      </nav>
      <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;'}) %>
      </div>
    </div>
  </div>
</header>
-->